# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# C extensions
*.so
*.o

# Distribution / packaging
.Python
build/

weights
pretrained
val_results

*.pth

# Temporary files
runs
eval
*.out

# Experimental files
#lib/detector_div.py
#lib/functions.py
test_div.py

trashbins
test_trainset

# Demo files
demofiles
results
*.jpg
*.mp4